body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
}

nav {
  display: inline-flex;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

a.selected {
  border-bottom: 2px solid #000;
  padding-bottom: 0.25rem;
}

a:not(:first-child) {
  margin-left: 2rem;
}

button {
  position: absolute;
  bottom: 6rem;
  left: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.container {
  width: 100%;
  height: calc(100vh - 8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.not-found {
  background-color: #f86262;
}

footer {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
  border-top: 1px solid #ddd;
}

footer p {
  font-weight: 600;
}
